.main {
  padding: 68px 0 0;
  flex-shrink: 0;
  flex-grow: 1;
  // overflow: hidden;
  @include media(">=desktop") {
    padding: 163px 0 0;
  }
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  @include flex(column);
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 100vh;
  height: 100%;
}

.header,
.footer {
  flex-shrink: 0;
}

