.main.homepage {
  padding-bottom: 0;
  .section {
    margin-bottom: 0;
    @include media(">=tablet") {
      //margin-bottom: 60px;
    }
    @include media(">=desktop") {
      margin-bottom: 100px;
      padding: 0 0 100px;
    }
  }
}
.homepage {
  .more-info {
    border-bottom: 0;
  }
  .moreinfo-bg {
    margin-bottom: 3px;
    @include media('>=xtablet') {
      margin-bottom: 0;
      min-height: 483px;
    }
    @include media('>=desktop') {
      min-height: 473px;
    }
  }
}