.page-onebedroom {
  .section {
    padding: 0 0 100px;
  }
  .btn {
    padding: 13px 25px;
    min-width: 110px;
  }
  .property-amenities {
    .slick-dots {
      transform: translateX(-50%);
      left: 50%;
    }
  }
  .slick-arrow {
    position: absolute;
  }
  h4, .h4 {
    @include font-medium;
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.property-amenities {
  .divided-section {
    .h1 {
      @include media('>=desktop') {
        margin-bottom: 90px;
      }
    }
  }
}
