.page-onebedroom {
  .content-section {
    @include media('>=tablet'){
      padding: 0 0 0 30px;
    }
  }
  h1 {
    @include media('>=tablet') {
      margin-bottom: 0;
      line-height: 48px;
    }
  }
  .h5 {
    @include media('>=tablet') {
      line-height: 24px;
      margin-top: 0;
    }
  }
  .section {
    @include media('>=desktop') {
      padding: 0 0 100px;
    }
  }
  .btn {
    padding: 13px 25px;
    min-width: 110px;
    &.btn {
      margin-left: 5px;
    }
    &.btn-apply {
      padding: 12px 15px;
    }
  }
  .property-amenities {
    .slick-dots {
      transform: translateX(-50%);
      left: 50%;
    }
  }
  .slick-arrow {
    position: absolute;
  }
  h4, .h4 {
    @include font-medium;
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.property-amenities {
  .divided-section {
    .h1 {
      @include media('>=desktop') {
        margin-bottom: 90px;
      }
    }
  }
  .content-section {
    padding-left: 0;
  }
}
.gallery-contemporary {
  iframe {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
