.page-amenities {
  iframe {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  h1, .h1 {
    margin-bottom: 25px;
  }
  .page-nav {
    margin-bottom: 0;
    @include media('>=desktop') {
      margin-bottom: 40px;
    }
  }
  h4, .h4 {
    margin-bottom: 20px;
  }
  h6, .h6 {
    margin-bottom: 15px;
    text-transform: none;
    @include font-medium;
    @include media('>=desktop') {
      font-size: 18px;
      line-height: initial;
    }
  }
  .section {
    @include media('>=desktop') {
      padding: 0 0 75px;
    }
  }
}