.page-schedule {
  padding: 60px 0;
  .divided-section {
    margin: 0 0 25px;
  }
  .content-section {
    //padding-left: 0;
    max-width: 670px;
    margin: auto;
    @include media('>=xtablet') {
      width: 100%;
    }
    @include media('>=desktop') {
      width: calc(100% - 670px);
    }
  }
}
//form-shedule
.form-shedule {
  .form-group {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px;
    .wpcf7-form-control-wrap {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      //position: relative;
    }
    .wpcf7-not-valid {
      color:#d0021b;
      border-bottom-color: #d0021b;
    }
    .wpcf7-not-valid-tip {
      position: absolute;
      bottom: 0;
      left: 10px;
      font-size: 10px;
      line-height: 10px;
      font-weight: 300;
      color: #d0021b;
    }
  }
  .wpcf7-response-output {
    border-color: transparent !important;
  }
  .form-control {
    @include media('>=xtablet') {
      //max-width: 370px;
    }
  }
  label {
    min-width: 105px;
    display: inline-block;
    line-height: 30px;
  }
  .form-group-submit {
    text-align: center;
    @include media('>=xtablet') {
      text-align: left;
      margin: 70px 0 0;
    }
  }
  .jcf-select {
    max-width: 270px;
  }
}