.page-amenities {
  h1, .h1 {
    margin-bottom: 25px;
  }
  .page-nav {
    margin-bottom: 0;
    @include media('>=desktop') {
      margin-bottom: 40px;
    }
  }
  h4, .h4 {
    margin-bottom: 20px;
  }
  h6, .h6 {
    margin-bottom: 15px;
    @include media('>=desktop') {
      font-size: 18px;
    }
  }
  .section {
    @include media('>=desktop') {
      padding: 0 0 75px;
    }
  }
}