.page-photogallery {
  h1 + h5 {
    margin-bottom: 35px;
  }
  .photo-gallery {
    @include media(">=desktop") {
      opacity: 1;
      transform: translateY(0);
      transition: opacity .25s, transform .5s;
    }
    .item {
      margin: 0;
      @include media('>=tablet') {
        margin: 0 15px;
      }
      @include media('>=desktop') {
        margin: 0;
      }
    }
  }
  &.hidden-gallery {
    .photo-gallery {
      @include media(">=desktop") {
        opacity: 0;
        transform: translateY(150px);
      }
    }
  }
}