.page-amenities {
  .divided-section {
    @include media(">=xtablet") {
      &.reverse {
        .media-section {
          margin: 0 0 0 30px;
        }
        .content-section {
          padding: 0 30px 0 0;
        }
      }
    }
  }

  .content-section {
    @include media('>=xtablet') {
      width: calc(100% - 670px);
      padding: 0 0 0 30px;
    }
  }
}
.amenities-wrapper {
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  @include media('>=desktop') {
    //padding-bottom: 65px;
    padding-bottom: 100px;
  }
  &::before {
      content: 'A&F';
      @include font-bold;
      font-size: 150px;
      line-height: 170px;
      text-transform: uppercase;
      color: $color-gold;
      opacity: .05;
      @include pos(absolute, -5px, 50%);
      transform: translateX(-50%);
      z-index: -1;
    @include media('>=desktop') {
      font-size: 400px;
      line-height: 420px;
      @include pos(absolute, -120px, 50%);
    }
  }
  .h1, h2 {
    margin-bottom: 10px;
    @include media('>=desktop') {
      margin-bottom: 40px;
    }
  }
  .min-container {
    max-width: 930px;
    margin-bottom: 30px;
    @include media('>=desktop') {
      margin-bottom: 40px;
    }
  }
}
.amenities-holder {
  @include font-medium;
  font-size: 16px;
  text-transform: uppercase;
  margin: 50px 0 0;
  @include media('>=desktop') {
    text-align: left;
    margin: 40px 0 0;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
  li {
    background: transparent;
    width: 50%;
    margin: 0 0 10px;
    @include media(">=tablet") {
      width: 32%;
      &:nth-child(3n-4) {
        margin: 0 2%;
      }
    }
  }
  a {
    font-size: 10px;
    color: $color-black;
    display: block;
    position: relative;
    border: 1px solid transparent;
    transition: color .3s, border .3s;
    @include media(">=xtablet") {
      display: flex;
      align-items: center;
      font-size: 16px;
      text-align: left;
      padding: 20px 20px;
    }
    @include media(">=xtablet") {
      &:hover {
        border-color: $color-gold;
        color: $color-gold;
        .icon-arrow {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    //svg {
    //  vertical-align: middle;
    //  width: 30px;
    //  height: 30px;
    //  margin: 0 0 10px;
    //  @include media(">=xtablet") {
    //    width: 50px;
    //    min-width: 50px;
    //    height: 50px;
    //    margin: 0 30px 0 0;
    //  }
    //}
    img {
      vertical-align: middle;
      width: 30px;
      height: 30px;
      margin: 0 0 10px;
      @include media(">=xtablet") {
        width: 50px;
        min-width: 50px;
        height: 50px;
        margin: 0 30px 0 0;
      }
    }
    span {
      display: block;
      margin: 0 0 5px;
      @include media(">=xtablet") {
        display: inline-block;
        margin: 0;
      }
    }
  }
  .icon-arrow {
    @include media(">=xtablet") {
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
      bottom: 11px;
      opacity: 0;
      transition: opacity .4s, visibility .4s;
      visibility: hidden;
      //transition: opacity .7s;
    }
  }
}