.footer_ {
    padding: 50px 0 0;
    background-color: $color-black;
    color: $color-white;
    a {
        color: $color-white;
        @include font-light;
        transition: color .3s;
        &:hover {
            color: $color-gold;
        }
        &+a {
            margin-left: 10px;
        }
    }
    .footer-nav {
        .h6 {
            margin-bottom: 12px;
        }
    }
    .footer-nav-block {
        display: inline-block;
        vertical-align: top;
        width: 48%;
        max-width: 200px;
        margin-bottom: 42px;
        padding-right: 20px;
        text-align: left;
        ul {
            margin-bottom: 0;
        }
        li {
            margin-bottom: 5px;
        }
        a {
            font-size: 13px;
            line-height: 20px;
        }
    }
    .footer-bottom {
        padding-top: 20px;
        text-align: center;
        font-size: 11px;
        line-height: 16px;
        border-top: 1px solid $color-dark-grey;
        p {
            margin-bottom: 18px;
        }
    }
    .social-links {
        text-align: center;
        width: 100%;
        margin: -18px 0 20px;
        li {
            margin: 0 3px 5px;
        }
    }
    .to-top {
        display: inline-block;
        margin-bottom: 15px;
        @include font-medium;
    }
}

@include media(">=tablet") {
    .footer_ {
        .footer-nav {
            text-align: center;
        }
    }
}

@include media(">=xtablet") {
    .footer_ {
        .social-links {
            margin-top: 0;
            text-align: right;
        }
        .footer-nav {
            text-align: left;
        }
    }
}

@include media(">=desktop") {
    .footer_ {
        padding: 75px 0 50px;
        .footer-nav-block {
            margin-bottom: 0;
            .h6 {
                margin-bottom: 28px;
            }
            a {
                font-size: 14px;
                line-height: 24px;
            }
        }
        .footer-bottom {
            position: relative;
            //@include flex(row, space-between);
            padding-top: 28px;
            font-size: 13px;
            line-height: 24px;
            p {
                margin-bottom: 0;
                float: left;
            }
            .footer-links {
                float: right;
            }
        }
        .to-top {
            @include pos(absolute, 30px, center);
            margin-bottom: 0;
            font-size: 14px;
        }
    }
}

.no-dev {
    .footer_ {
        .to-top,
        .footer-links a {
            transition: color .3s;
            &:hover {
                color: $color-gold;
            }
        }
    }
}