.gallery-apartments {
  width: 100%;
  max-width: 670px;
  height: 240px;
  margin: 0 auto 50px;
  @include media(">=xtablet") {
    width: 670px;
    height: 540px;
    margin: 0 30px 30px 0;
  }
  .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 670px;
    width: 100%;
    height: 240px;
    overflow: hidden;
    text-indent: -9999px;
    margin: 0 auto 30px;
    @include media('>=xtablet') {
      height: 540px;
      width: 670px;
      margin: 0;
    }
  }
  .slick-arrow {
    bottom: -65px;
  }
}
.gallery-wrap {
  margin: 0 0 20px;
  @include media('>=desktop') {
    margin: 0;
  }
}