.map-holder {
  @include media('>=tablet') {
    display: flex;
  }
  #map-landmarks {
    @include media('>=desktop') {
      width: 770px;
      height: 500px;
    }
  }
}
.map-menu {
  @include media('>=desktop') {
    width: calc(100% - 770px);
    padding: 0 30px 0 0;
    flex-shrink: 0;
  }
  .tab-nav {
    @include font-medium;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    @include media('>=desktop') {
      width: 50%;
      float: left;
    }
    a {
      padding: 0;
    }
  }
  .tabs-content {
    @include media('>=desktop') {
      width: 50%;
      float: right;
    }
  }
  .tab-content-item {
    @include font-medium;
    font-size: 16px;
    line-height: 16px;
  }
  li {
    margin: 0 0 20px;
    text-transform: none;
    cursor: pointer;
    transition: color .3s;
    display: block;
    a {
      &.active {
        color: $color-gold;
        & + ul {
          opacity: 1;
          visibility: visible;  
        }
      }
    }
  }
  & > ul {
    position: relative;
    @include media('>=desktop') {
      width: 50%;
      padding: 0 15px 0 0;
    } 
    & > li {
      text-transform: uppercase;
    }
    ul {
      @include font-regular;
      position: absolute;
      top: 0;
      left: 100%;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
      transition: opacity 1s;
      @include media('>=desktop') {
        padding: 0 0 0 15px;
      }
      &::after {
        @include media('>=desktop') {
          content: '';
          @include pos(absolute, 0, 0);
          width: 15px;
          height: 100%;
          background: transparent;
          transform: translateX(-100%);
        }
      }
      &.active {
        color: $color-gold;
      }
    }
  }
  
}
.map-menu-title {
  color: $color-gold;
  @include font-bold;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 0 0 30px;
  margin: 0 0 30px;
  border-bottom: 1px solid $color-light-grey;
}


//sutom infoWindow
#map-note-neighborhood {
  h6 {
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 10px;
  } 
  #content-note {
    @include font-light;
    font-size: 14px;
    line-height: 16px;
    background: $color-gold;
    text-align: left;
  }
}
#map {
  width: 100%;
  height: 200px;
  overflow: hidden;
  @include media('>=tablet') {
    height: 400px;
  }
  @include media('>=desktop') {
    height: 600px;
  }
  .gm-style-iw {
    min-width: 200px!important;
  }
  .gm-style .gm-style-iw {
    font-size: 16px;
    line-height: 16px;
    color: $color-light-yellow;
    background: $color-gold;
    width: auto!important;
    padding: 20px;
    div div {
      overflow: hidden!important;
    }
  }    
  
  /*style the p tag*/
  .gm-style .gm-style-iw #google-popup p {
    padding: 10px;
  }
}
.search-form {
  max-width: 470px;
  margin: auto;
  position: relative;
  z-index: 5;
  input {
    margin: 0 0 10px;
  }
}
.search-dropdown {
  @include font-light;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15);
  background: $color-white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 30px 0;
  li {
    margin: 0 0 15px;
    padding: 0 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}