#app {
  .map-app {
    border-bottom: 1px solid $color-light-grey;
    padding: 0 0 30px;
    margin: 0 0 30px;
    @include media('>=tablet') {
      padding: 0 0 60px;
      margin: 0 0 60px;
    }
    @include media('>=desktop') {
      padding: 0 0 100px;
      margin: 0 0 100px;
    }
  }
}

.map-holder {
  @include media('>=tablet') {
    display: flex;
  }
  #map-landmarks {
    @include media('>=desktop') {
      width: 770px;
      height: 500px;
    }
  }
}

.map-menu {
  @include media('>=desktop') {
    width: calc(100% - 770px);
    padding: 0 30px 0 0;
    flex-shrink: 0;
  }
  .tab-nav {
    @include font-medium;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    padding: 0;
    margin: 0 0 30px;
    @include media('>=desktop') {
      width: 50%;
      float: left;
      text-align: left;
      margin: 0;
    }
    a {
      padding: 0;
    }
  }
  .tabs-content {
    text-align: center;
    @include media('>=desktop') {
      text-align: left;
      width: 50%;
      float: right;
    }
  }
  .tab-content-item {
    @include font-regular;
    font-size: 13px;
    line-height: 16px;
    @include media('>=desktop') {
      font-size: 16px;
    }
  }
  li {
    margin: 0 0 20px;
    text-transform: none;
    cursor: pointer;
    transition: color .3s;
    display: block;
    a {
      //&:hover {
      //  opacity: 0.3;
      //}
      &.active {
        color: $color-gold;
        & + ul {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &.active {
      a {
        color: $color-gold;
      }
    }
  }
  & > ul {
    position: relative;
    @include media('>=desktop') {
      width: 50%;
      padding: 0 15px 0 0;
    }
    & > li {
      text-transform: uppercase;
      //a {
      //  &:hover {
      //    opacity: 0.3;
      //  }
      //}
      &.active {
        a {
          border: 0;
        }
      }

    }
    ul {
      @include font-regular;
      position: absolute;
      top: 0;
      left: 100%;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
      transition: opacity 1s;
      @include media('>=desktop') {
        padding: 0 0 0 15px;
      }
      &::after {
        @include media('>=desktop') {
          content: '';
          @include pos(absolute, 0, 0);
          width: 15px;
          height: 100%;
          background: transparent;
          transform: translateX(-100%);
        }
      }
      &.active {
        color: $color-gold;
      }
    }
  }

}
.no-dev {
  .map-menu {
    li {
      a {
        &:hover {
          opacity: 0.3;
        }
      }
    }
  }
}

.map-menu-title {
  color: $color-gold;
  @include font-bold;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 0 0 30px;
  margin: 0 0 30px;
  border-bottom: 1px solid $color-light-grey;
}

//sutom infoWindow
.map-note-neighborhood {
  h6 {
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 10px;
  }
  .content-note {
    @include font-light;
    font-size: 14px;
    line-height: 16px;
    background: $color-gold;
    text-align: left;
  }
}

#map {
  width: 100%;
  height: 200px;
  overflow: hidden;
  @include media('>=tablet') {
    height: 400px;
  }
  @include media('>=desktop') {
    height: 600px;
  }
  .gm-style-iw {
    min-width: 200px !important;
  }
  .gm-style .gm-style-iw {
    font-size: 16px;
    line-height: 16px;
    color: $color-light-yellow;
    background: $color-gold;
    width: auto !important;
    padding: 20px;
    div div {
      overflow: hidden !important;
    }
  }

  /*style the p tag*/
  .gm-style .gm-style-iw #google-popup p {
    padding: 10px;
  }
}

.search-landmarks {
  margin: 0 0 60px;
}

.search-form {
  max-width: 569px;
  margin: auto;
  position: relative;
  z-index: 5;
  form {
    display: flex;
    align-items: center;
    .row-field {
      flex-grow: 1;
      position: relative;
    }
  }
  input {
    margin: 0;
    line-height: 20px;
  }
  label {
    font-size: 14px;
    @include font-regular;
    margin: 0 30px 0 0;
    text-transform: uppercase;
    @include media('>=tablet') {
      font-size: 18px;
    }
  }
}

.search-dropdown {
  @include font-light;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15);
  background: $color-white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 30px 0;
  margin: 10px 0 0;
  li {
    margin: 0 0 15px;
    padding: 0 30px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
{
  opacity: 0;
}

.date-range {
  button {
    background: transparent;
    color: $color-black;
  }
  input {
    color: $color-black;
  }
  .btn {
    height: auto;
    width: auto;
    padding: 0;
  }
}

.date-picker-header {
  .btn--icon {
    &:hover {
      border-color: transparent;
    }
    .icon {
      text-indent: -999px;
      width: 20px;
      height: 20px;
      background: transparent;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border: 1px solid;
        border-color: $color-black $color-black transparent transparent;
        transform: rotate(-135deg)
      }
    }
    &:last-child {
      .icon {
        &::after {
          transform: rotate(45deg)
        }
      }
    }
  }
}

.datepicker {
  font-size: 12px;
  text-align: right;
  margin: 50px 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media('>=xtablet') {
    font-size: 14px;
    justify-content: flex-end;
  }
  >span {
    &:first-child {
      display: none;
      @include media('>=xtablet') {
        display: block;
        margin-right: 30px;
      }
    }
  }
  .input {
    width: 100%;
    text-align: left;
  }
  .date-picker {
    vertical-align: top;
    display: inline-block;
    width: 130px;
    @include media('>=xtablet') {
      width: 170px;
    }
    &:last-child {
      margin-right: 0 !important;
    }
  }
  .date-panel {
    right: 0;
    left: auto !important;
  }
  .input-wrapper {
    padding: 0 !important;
    @include font-light();
    border-color: transparent transparent $color-light-grey !important;
    cursor: pointer;
    .input {
      line-height: 20px;
      padding: 5px 30px 5px 10px !important;
      position: relative;
    }
  }
  .datepicker-column {
    position: relative;
    margin: 0 12px;
    &:nth-child(2) {
      .date-panel {
        left: 0 !important;
        @include media('>=xtablet') {
          right: 0 !important;
          left: auto !important;
        }
      }
    }
    .datepicker-placeholder {
      @include font-light();
      border: 1px solid;
      border-color: transparent transparent $color-light-grey !important;
      background: $color-white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 32px;
      pointer-events: none;
      line-height: 20px;
      padding: 5px 30px 5px 10px !important;
      text-align: left;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 6px;
        margin-top: -8px;
        width: 16px;
        height: 16px;
        background: url('#{$path-images}/iconcalendar.png') no-repeat;
      }
    }
  }
  .cancel-btn {
    display: none !important;
  }
}

.year-box[data-v-89588f16],
.month-box[data-v-89588f16] {
  font-size: 14px !important;
  line-height: 14px !important;
}

.year-month-box[data-v-89588f16] {
  align-items: center !important;
}

.arrow-left[data-v-89588f16] {
  font-size: 15px !important;
  text-align: left !important;
}

.arrow-right[data-v-89588f16] {
  font-size: 15px !important;
  text-align: right !important;
}

.date-list li .message span[data-v-89588f16] {
  @include font-regular();
  font-size: 10px !important;
}

.weeks li[data-v-89588f16] {
  color: rgba(6, 7, 7, 0.3);
  @include font-regular();
  font-size: 10px !important;
  text-transform: uppercase;
}

.date-list li .message.selected .bg[data-v-89588f16] {
  background: $color-light-yellow !important;
}

.date-list li .message .bg[data-v-89588f16] {
  border-radius: 0 !important;
}

.date-list li .message.selected span[data-v-89588f16] {
  color: $color-black !important;
}

.weeks .preMonth[data-v-89588f16],
.date-list .preMonth[data-v-89588f16],
.weeks .nextMonth[data-v-89588f16],
.date-list .nextMonth[data-v-89588f16] {
  color: $color-white !important;
}

.date-list li .message:not(.selected):hover .bg[data-v-89588f16] {
  background: $color-light-yellow !important;
  transform: scale(1);
  opacity: .6;
}

.date-list li.preMonth .message:not(.selected):hover .bg[data-v-89588f16],
.date-list li.nextMonth .message:not(.selected):hover .bg[data-v-89588f16] {
  opacity: 0;
}

.date-list li.preMonth,
.date-list li.nextMonth {
  pointer-events: none;
}

.date-list li.preMonth .message:not(.selected):hover,
.date-list li.nextMonth .message:not(.selected):hover {
  cursor: not-allowed;
}

.date-list li:not(.preMonth) .message:not(.selected):hover span[data-v-89588f16],
.date-list li:not(.nextMonth) .message:not(.selected):hover span[data-v-89588f16] {
  color: $color-black !important;
}

.date-list li.invalid[data-v-89588f16] {
  color: $color-white !important;
}

.year-list li.selected[data-v-89588f16],
.month-list li.selected[data-v-89588f16],
.year-list li[data-v-89588f16]:hover,
.month-list li[data-v-89588f16]:hover {
  background-color: $color-light-yellow !important;
  color: $color-black !important;
}

.year-list li[data-v-89588f16],
.month-list li[data-v-89588f16] {
  font-size: 15px !important;
}

.date-list li .message span[data-v-89588f16] {
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
  transform: none !important;
}

.date-list li .message[data-v-89588f16] {
  line-height: 28px;
}

.panel-header {
  border-bottom: 1px solid $color-light-grey;
}

.date-list li[data-v-89588f16]:not(.firstItem) {
  margin-left: 0 !important;
}

.date-panel {
  padding: 30px 30px 0 !important;
}