.wrap-wp-pagenavi {
  font-size: 0;
  display: block;
  margin: auto;
  .wp-pagenavi {
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    text-align: center;
    overflow: auto;
  }
  .page,.extend,.current {
    padding-top: 11px;
  }
  a, span {
    @include font-regular;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: $color-black;
    text-align: center;
    cursor: pointer;
    margin: 0 7px;
    @include media('>=desktop') {
      margin: 0 15px;  
    }
  }
  .extend {
    letter-spacing: 2px;
  }
  .pagi-ctrl {
    min-width: 54px;
  }
  .previouspostslink,
  .nextpostslink {
    width: 40px;
    height: 40px;
    position: relative;
    text-indent: -9999px;
    overflow: hidden;
    line-height: 40px;
    border: 1px solid #cdcdcd;
    background-position: center;
    background-size: 27px;
    background-repeat: no-repeat;
    @include media(">=tablet") {
      width: auto;
      text-indent: 0;
      background-position: 3px;
    }
  }
  .previouspostslink {
    float: left;
    background-image: url('#{$path-images}/pagi-left.svg');
    //border-right-color: transparent;

    @include media(">=tablet") {
      padding: 0 12px 0 29px;
    }
  }
  .nextpostslink {
    float: right;
    background-image: url('#{$path-images}/pagi-right.svg');
    //border-left-color: transparent;
    @include media(">=tablet") {
      padding: 0 29px 0 12px;
      background-position: 37px;
    }
  }
  .current {
    color: $color-gold;
    pointer-events: none;
    position: relative;
    &::after {
      content: '';
      @include pos(absolute, null, null, 0, 0);
      height: 2px;
      width: 100%;
      background: $color-gold;
    }
  }
}
.no-dev {
  .wp-pagenavi {
    a, span {
      transition: bacground-color .3s;
      &:hover {
      }
    }
  }
}