.gallery-popup {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: $color-black;
  padding-right: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  padding-top: 15px;
  .popup-content {
    height: auto;
    width: 100%;
  }
  .item-img {
    position: relative;
    width: 100%;
    height: 100%;
    height: calc(100vh - 170px);
    margin-bottom: 10px;
    @include bg(center, center, cover);
    @include media('>=tablet') {
      height: calc(100vh - 270px);
    }
    @include media('>=xtablet') {
      height: calc(100vh - 370px);
    }
    @include media('>=xdesktop') {
      width: 800px;
      height: 400px;
    }
  }
  .popup-gallery-slider, .slick-list {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  .item-title {
    @include font-medium;
    font-size: 14px;
    line-height: 24px;
    @include pos(absolute, $bottom: -65px, $left: 0);
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
    background-color: rgba($color-black, .7);
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
    @include media('>=tablet') {
      font-size: 18px;
      @include pos(absolute, $bottom: -85px, $left: 0);
    }
  }
  .slick-current {
    .item-title {
      opacity: 1;
      visibility: visible;
    }
  }
  .slick-slide {
    transform: scale(.6);
    opacity: .7;
    transition: transform .3s, opacity .3s;
  }
  .slick-current {
    transform: scale(1);
    opacity: 1;
  }
}
.popup-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 50%;
  width: 120px;
  transform: translateX(-50%);
  @include media('>=xtablet') {
    top: auto;
    bottom: 65px;
    width: 300px;
  }
  .slick-arrow {
    position: relative;
    color: $color-white;
    &::after {
      border-color: $color-white $color-white transparent transparent;
    }
    &:hover {
      color: $color-gold;
    }
    &.slick-disabled {
      opacity: .5;
      cursor: not-allowed;
    }
  }
}
