<!DOCTYPE html>
<html lang="en" class="no-dev">
@@include("head.html", {"title": "Parkchester"})
<body>
<div class="wrapper">
	@@include("header.html")

	<main class="main">
    <div class="section page-nighborhood">
      <div id="app">
        <div class="map-holder">
            <div class="container">
                <h1>The neighborhood</h1>
                <div class="min-container">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
                </div>
                <map-holder></map-holder>
            </div>
        </div> 
      </div>  
  </div>
  <template id="map-holder">
    <div class="map-wrapper">
        <div class="search-landmarks">
          <div class="search-form">
            <form action="#"> 
              <div class="row-field">
                <input 
                  type="text"
                  v-model="searchText"
                  placeholder="Fitness">
                  <ul 
                    class="search-dropdown"
                    v-show="activeFilter"
                    >
                      <li 
                        v-for="item in dropLocations"
                        @click="[searchTabs(item.parentindex, item.subindex), activeFilter = false]">
                          {{item.parentname}} / {{item.name}}
                      </li>
              </div>
            </form>
          </div>
        </div>
        <div class="section map-holder">
            <div class="map-menu">
              <div class="map-menu-title">LANDMARKS NEAR PARKCHESTER</div>
              <ul class="tab-nav map-menu-list">
                <li 
                    v-for="(item, index) in getLocations"
                    :class="['tab-nav-item', {'active' : index == mainTab}]"
                    :key="index"
                    @click="tabs(index)">
                    <a 
                      href="javascript:void(0)"
                      >
                      {{item.name}}
                  </a>
                </li>
              </ul>
              <div class="tabs-content">
                <ul 
                    v-for="(subitem, subindex) in getLocations"
                    :class="['tab-content-item',{ 'active' : subindex == mainTab }]"
                    :key="subindex">
                  <li 
                    v-for="(itm, idx) in subitem.subList"
                    :class="{ active : activeSubIndex === idx }"
                    @click="[activeSubIndex = idx, subTabs(idx)]">
                    <a 
                      href="javascript:void(0)">
                      {{itm.name}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="map" ref="map"></div>
        </div>
    </div>
  </template>
	</main>

	@@include("footer.html")
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.min.js"></script>
@@include("scripts.html")
</body>
</html>