<!DOCTYPE html>
<html lang="en" class="no-dev">
@@include("head.html", {"title": "Parkchester"})
<body>
<div class="wrapper">
	@@include("header.html")

<main class="main">
    <section class="page-nighborhood">
      <div id="app">
          <div class="section map-app">
            <div class="container">
                <h1>The neighborhood</h1>
                <div class="min-container">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
                </div>
                <map-holder></map-holder>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="section residents-wrapper">
            <div class="h5">Meet Our</div>
            <div class="h1">Residents</div>
            <div class="residents-holder">
              <div class="item">
                <div class="img" style="background-image: url('/dist/images/resident.png')"></div>
                <div class="description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="h5">John Doe</div>
                  <strong>Resident Since 2016</strong>
                  <a href="javascript:void(0)" class="btn learn-more">Meet Our Residents</a>
                </div>
              </div>
              <div class="item">
                <div class="img" style="background-image: url('/dist/images/resident.png')"></div>
                <div class="description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="h5">John Doe</div>
                  <strong>Resident Since 2016</strong>
                  <a href="javascript:void(0)" class="btn learn-more">Meet Our Residents</a>
                </div>
              </div>
              <div class="item">
                <div class="img" style="background-image: url('/dist/images/resident.png')"></div>
                <div class="description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <div class="h5">John Doe</div>
                  <strong>Resident Since 2016</strong>
                  <a href="javascript:void(0)" class="btn learn-more">Meet Our Residents</a>
                </div>
              </div>
            </div>
            <div class="custom-controls"></div>
          </div>
        </div>
				<div id="sort-events">
						<sort-holder></sort-holder>
				</div>
  </section>

	<template id="sort-holder">
				<div class="events-wrapper">
						<div class="container">
							<div class="h5">Some of our</div>
							<h2 class="h1">neighborhood events</h2>
							<div class="datepicker">
									<span>Filter by: Date Range</span>
									<div class="datepicker-column">
										<datepicker v-model="start" class="picker" min="2015-01-01" max="2020-01-01"></datepicker>
										<span class="datepicker-placeholder">{{ pseudo_start}}</span>
									</div>
									<span>-</span>
									<div class="datepicker-column">
										<datepicker v-model="end" class="picker" :min="start" max="2020-01-08"></datepicker>
										<span class="datepicker-placeholder">{{ pseudo_end }}</span>
									</div>
								</div>
							<div
								class="events-holder"
								v-show="!notEvents">
								<div
									v-for="(item, index) in getEvents"
									v-if="index < activeIndex"
									class="item">
									<div
										class="img"
										v-bind:style="{ backgroundImage: 'url('+item.thumbnail+')' }">Christmas</div>
									<div class="title">{{ item.title }}</div>
									<p>{{ item.excerpt }}</p>
									<div class="date">
										<span class="date-start">{{ filterDate(item.date_from) }}</span> -
										<span class="date-end">{{ filterDate(item.date_to) }}</span>
									</div>
								</div>
							</div>
							<div v-if="notEvents" class="not-events">No Current Events, Check Back Soon</div>
							<a
								v-if="activeMore"
								href="javascript:void(0)"
								:class="['btn', 'btn-apply', { active:  activeViewMore}]"
								@click="eventsIndex()">View More</a>
						</div>
					</div>
	</template>
  <template id="map-holder">
    <div class="map-wrapper">
        <div class="search-landmarks">
          <div class="search-form">
            <form action="#">
              <label for="search">Search</label>
              <div class="row-field">
                <input
                  type="text"
                  v-model="searchText"
                  id="search">
                  <ul
                    class="search-dropdown"
                    v-show="activeFilter"
                    >
                      <li
                              v-for="item in dropLocations"
                              :data-title="item.title"
                              :data-name="item.name"
                              @click="[triggerFilter(item.parent_id, item.self_id), activeFilter = false]">
                          {{item.parent_name}} / {{item.name}}
                      </li>
                  </ul>
              </div>
            </form>
          </div>
        </div>
        <div class="map-holder">
            <div class="map-menu">
              <div class="map-menu-title">LANDMARKS NEAR PARKCHESTER</div>
              <ul class="tab-nav map-menu-list">
                <li
                    v-for="(item, index) in getNewLocations"
                    :class="['tab-nav-item', {'active' : index == mainTab}]"
                    :key="index"
                    @click="tabs(index)">
                    <a
                      href="javascript:void(0)"
                      >
                      {{item.name}}
                  </a>
                </li>
              </ul>
              <div class="tabs-content">
                <ul
                  v-for="(subitem, subindex) in getNewLocations"
				  :class="['tab-content-item', {'active' : subindex == mainTab}]"
                  :key="subindex">
                  <li
                    v-for="(itm, idx) in subitem.sub_cats"
                    :class="[ 'itm.subcat_id', {'sub-active' : idx == subTab }]"
				  	@click="tabs(subindex, idx)"
				  	ref="itm.subcat_id">
                    <a
					  :data-name="itm.name"
                      href="javascript:void(0)">
                      {{itm.name}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="map" ref="map"></div>
        </div>
    </div>
  </template>

	</main>

	@@include("footer.html")
</div>
<script>
  var markerCollection = [
    {
      name: "Parks1",
      latitude: "40.0040",
      longtitude: "-73.0040",
      title: "Parks",
      subList: [
        {
          name: "Yankees",
          latitude: "40.0040",
          longtitude: "-73.0040",
          title: "kokok",
          address: "2001 East Tremont Avenue Bronx, NY 10462"
        },
        {
          name: "Parks",
          latitude: "40.0040",
          longtitude: "-74.0040",
          title: "bcgn",
          address: "2002 East Tremont Avenue Bronx, NY 10462"
        },
        {
          name: "Fitness Centers1",
          latitude: "40.0040",
          longtitude: "-75.0040",
          title: "dreftgert1",
          address: "2003 East Tremont Avenue Bronx, NY 10462"
        }
      ]
    },
    {
      name: "Culture",
      latitude: "40.0040",
      longtitude: "-73.0040",
      title: "Parks",
      subList: [
        {
          name: "Yankees",
          latitude: "40.0040",
          longtitude: "-73.0040",
          title: "Fitness Centers1",
          address: "2004 East Tremont Avenue Bronx, NY 10462"
        },
        {
          name: "Parks",
          latitude: "40.0040",
          longtitude: "-74.0040",
          title: "Fitness Centers3",
          address: "2005 East Tremont Avenue Bronx, NY 10462"
        },
      ]
    },
    {
      name: "Culture3",
      latitude: "40.0040",
      longtitude: "-73.0040",
      title: "Parks",
      subList: [
        {
          name: "Fitness Centers1",
          latitude: "40.0040",
          longtitude: "-71.0040",
          title: "Fitness Centers1",
          address: "2006 East Tremont Avenue Bronx, NY 10462"
        },
      ]
    }
  ];
  var filterSettings = {
      language: "en",
      selected: "2018-07-01",
      start: "2018-07-01",
      pseudo_start: "Jul 01, 2018",
      end: "2018-09-01",
      pseudo_end: "Sep 01, 2018",
      range: ["2016-01-01", "2016-01-11"],
      init: "2016-12-26",
      active: true,
      activeIndex: 6,
      activeViewMore: true,
      per_paged: 6,
      page: 1,
  };
  var mapApiUrl = 'http://parkchester-dev.bigdropinc.net/wp-json/wp/v2/neighborhood_map_data';
  var apiUrl = 'http://parkchester-dev.bigdropinc.net/wp-json/wp/v2/neighborhood_events';
  var markerPin = "/dist/images/mappin.svg";
  var activePin = "/dist/images/activeMappin.svg";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.0/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.js"></script>
<script src="https://unpkg.com/vue-select@latest"></script>
@@include("scripts.html")
</body>
</html>
