<div class="section amenities-wrapper">
	<div class="container">
		<div class="h5">What We Suggest</div>
		<h2 class="h1">Amenities &amp; Facilities</h2>
		<div class="min-container">
				<p>The complex has more than 100 retail outlets including Macy's, Applebee's, Starbucks, our own medical and dental offices, most major banks and much more. Public, private, and parochial schools are nearby. Other amenities include onsite management, convenient garages as well as on-street parking and roving 24-hour security.</p>
		</div>
		<a href="javascript:void(0)" class="btn btn-apply">Learn More</a>
		<div class="amenities-holder">
			<ul>
				<li>
					<a href="javascript:void(0)">
						<img src="../images/management.svg" alt="amenities-icon">
						<span>On-site Management</span>
						<i class="icon-arrow">arrow</i>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="../images/post office.svg" alt="amenities-icon">
						<span>Convenient U.S. Post Office</span>
						<i class="icon-arrow">arrow</i>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="../images/internet.svg" alt="amenities-icon">
						<span>FIOs & High speed Internet</span>
						<i class="icon-arrow">arrow</i>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="../images/shop.svg" alt="amenities-icon">
						<span>More than 100 shops</span>
						<i class="icon-arrow">arrow</i>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="../images/train.svg" alt="amenities-icon">
						<span>6 train accessible</span>
						<i class="icon-arrow">arrow</i>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="../images/appliance.svg" alt="amenities-icon">
						<span>Modern appliances</span>
						<i class="icon-arrow">arrow</i>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="../images/garage.svg" alt="amenities-icon">
						<span>Convenient garages</span>
						<i class="icon-arrow">arrow</i>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="../images/security.svg" alt="amenities-icon">
						<span>24 hour security</span>
						<i class="icon-arrow">arrow</i>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="../images/parking.svg" alt="amenities-icon">
						<span>On-street parking</span>
						<i class="icon-arrow">arrow</i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>