<div class="section">
		<div class="container">
			<div class="divided-section">
        <div class="gallery-wrap">
            <div class="gallery-apartments gallery-features">
                <div class="item" style="background-image: url('/dist/images/apartmentsslide.png')"></div>
                <div class="item" style="background-image: url('/dist/images/apartmentsslide.png')"></div>
                <div class="item" style="background-image: url('/dist/images/apartmentsslide.png')"></div>
              </div>
            <div class="custom-controls features-controls"></div>
        </div>
					<div class="content content-section">
            <h4>Apartment Features</h4>
            <ul>
              <li>17 cu ft self-defrosting refrigerator</li>
              <li>Oven range with range hood</li>
              <li>GE dishwasher</li>
              <li>Granite Countertops</li>
              <li>Stainless Steel sink with gooseneck faucet</li>
              <li>Ceramic tile floor</li>
              <li>Shaker style custom maple cabinets</li>
              <li>Generous Living Spaces</li>
              <li>Parquet Floors</li>
              <li>Window kitchens and baths</li>
            </ul>
            <div class="h6">Bathroom with</div>
            <ul>
              <li>Marble sink with vanity</li>
              <li>Imported ceramic tiles</li>
              <li>All chrome accessories</li>
              <li>Full sized tub with shower</li>
            </ul>
            <div class="h6">Bathroom with</div>
            <ul>
              <li>Elegant windowed kitchens with two finishes: Cherry cabinet with rose-toned granite countertops and grey with off-white cabinets with slate grey granite countertops</li>
              <li>New appliances with stainless steel accents</li>
              <li>Spacious living area</li>
              <li> Generous Closets</li>
              <li>Big windows with bright light</li>
            </ul>
					</div>
			</div>
	</div>
</div>