<div class="divided-section">
	<div class="media-section" style="background-image: url('/dist/images/visual2.png')"></div>
	<div class="content-section">
		<p>Comfort and convenience are the hallmarks of every 1, 2 or 3 bedroom apartment. Rent here and you'll be surrounded by 129 acres of tall shade trees, shrubs, lawns, flower gardens and play fields. Tree-lined streets criss cross the complex; there are more than 100 retail options. Parkchester is an enclave of gracious apartments, modern amenities, diverse cultures and fabulous shopping. Its also easy to get to: Parkchester has its own subway station on the 6 subway line, as well as express buses offering frequent service to midtown.</p>
		<p>Parkchester is near the Bronx Zoo, The Botanical Gardens, Fordham University and the Albert Einstein Center and College of Medicine, Arthur Avenue Little Italy as well as many other cultural destinations.</p>
	</div>
</div>
