<div class="section">
		<div class="container">
			<div class="divided-section reverse">
					<div class="content-section">
						<div class="h5">Our</div>
						<h2 class="h1">Careers</h2>
						<p>f you are interested in a position at Parkchester Preservation Management, please attach your resume along with a cover
							letter stating the desired position. Send resumes by email only to careers@ppmgt.nyc.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet
							lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.</p>
					</div>
				<div class="media-section" style="background-image: url('/dist/images/shedule.png')"></div>
			</div>
		</div>
</div>