<div class="collection-holder">
	<div class="container">
		<div class="content-center">
			<div class="h5">Prestige</div>
			<h2 class="h1">Collection</h2>
			<p>Parkchester's Contemporary Collection featuring elegant new kitchens brings together the best of modern living with Parkchester's traditional spacious comfortable apartments. The Contemporary Collection kitchens feature all new appliances with stainless steel accents, granite countertops and ample cabinet space.</p>
		</div>
		<div class="apartments-holder">
			<div class="apartments-item">
				<div class="info-bedroom">
					<h3>One bedroom: $1,290</h3>
					<strong>Min Income: $37,500</strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
					<a href="javascript:void(0)" class="btn learn-more">View Details</a>
				</div>
				<div class="visual-bedroom">
					<div class="item" style="background-image:url('/dist/images/floorplan.jpg')">one bedroom</div>
					<div class="item" style="background-image:url('/dist/images/bedroom1.png')">one bedroom</div>
				</div>
			</div>
			<div class="apartments-item">
				<div class="info-bedroom">
					<h3>One bedroom: $1,290</h3>
					<strong>Min Income: $37,500</strong>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
					<a href="javascript:void(0)" class="btn learn-more">View Details</a>
				</div>
				<div class="visual-bedroom">
					<div class="item" style="background-image:url('/dist/images/floorplan.jpg')">one bedroom</div>
					<div class="item" style="background-image:url('/dist/images/bedroom1.png')">one bedroom</div>
				</div>
			</div>
		</div>
	</div>
</div>