<div class="section">
		<div class="container">
			<div class="divided-section reverse">
					<div class="content content-section">
            <h4>Community Amenities</h4>
            <ul>
              <li>Over 100 Retail Stores</li>
              <li>Macys</li>
              <li>Starbucks</li>
              <li>Post Office</li>
              <li>Medical Facilities</li>
              <li>Restaurants</li>
              <li>Public, private and parochial school</li>
              <li>30 minutes to Midtown by No. 6 subway line (Express and Local)/ Express bus</li>
              <li>Direct access to 3 major highways</li>
            </ul>
            <div class="h6">Beautifully landscaped 129 acre setting</div>
            <ul>
              <li>Ballfields</li>
              <li>Playgrounds</li>
              <li>Landscaped Ovals</li>
            </ul>
            <ul class="community-list">
              <li><img src="/dist/images/logo1-min.jpg" alt="logo community"></li>
              <li><img src="/dist/images/logo2-min.jpg" alt="logo community"></li>
              <li><img src="/dist/images/logo3-min.jpg" alt="logo community"></li>
              <li><img src="/dist/images/logo4-min.jpg" alt="logo community"></li>
              <li><img src="/dist/images/logo5-min.jpg" alt="logo community"></li>
              <li><img src="/dist/images/logo6-min.jpg" alt="logo community"></li>
              <li><img src="/dist/images/logo7-min.jpg" alt="logo community"></li>
              <li><img src="/dist/images/logo8-min.jpg" alt="logo community"></li>
            </ul>
          </div>
          <div class="gallery-wrap">
              <div class="gallery-apartments gallery-community">
                  <div class="item" style="background-image: url('/dist/images/communitybig.png')">slide gallery</div>
                  <div class="item" style="background-image: url('/dist/images/communitybig.png')">slide gallery</div>
                  <div class="item" style="background-image: url('/dist/images/communitybig.png')">slide gallery</div>
              </div>
              <div class="custom-controls community-controls"></div>
          </div>
      </div>
	</div>
</div>