<div class="devided-section reverse">
	<div class="media-section large" style="background-image: url('/dist/images/shedule.png')">shedule</div>
	<div class="content-section">
		<strong>Please bring most recent proof of income and photo ID.</strong>
		<p class="note">*indicates a required field</p>
		<form class="form-shedule">
			<div class="form-group">
				<label for="name">Name *</label>
				<input id="name" type="text" class="form-control">
			</div>
			<div class="form-group">
				<label for="phone">Phone Number *</label>
				<input id="phone" type="text" class="form-control">
			</div>
			<div class="form-group">
				<label for="email">Email *</label>
				<input id="email" type="text" class="form-control">
			</div>
			<div class="form-group">
				<label for="day">Preferred Day *</label>
				<select name="day" id="day">
					<option value=""></option>
					<option value=""></option>
					<option value=""></option>
				</select>
			</div>
			<div class="form-group">
				<label for="message">Message</label>
				<input id="message" type="text" class="form-control">
			</div>
			<div class="form-group-submit">
				<input type="submit" value="Request Appointment">
			</div>
		</form>
	</div>
</div>