<div class="faq-holder">
	<h5>
		<a href="javascript:void(0)" class="faq-title">Active/open item</a>
	</h5>
	<div class="faq-info">
		<p>To resolve any payment issues for Parkchester Preservation Management's rental apartments call 718-536-2000 and ask for accounts receivable. You can also stop by our second floor offices at 2000 East Tretmont Avenue.</p>
	</div>
	<h5>
		<a href="javascript:void(0)" class="faq-title">Active/open item</a>
	</h5>
	<div class="faq-info">
		<p>To resolve any payment issues for Parkchester Preservation Management's rental apartments call 718-536-2000 and ask for accounts receivable. You can also stop by our second floor offices at 2000 East Tretmont Avenue.</p>
	</div>
	<h5>
		<a href="javascript:void(0)" class="faq-title">Active/open item</a>
	</h5>
	<div class="faq-info">
		<p>To resolve any payment issues for Parkchester Preservation Management's rental apartments call 718-536-2000 and ask for accounts receivable. You can also stop by our second floor offices at 2000 East Tretmont Avenue.</p>
	</div>
	<h5>
		<a href="javascript:void(0)" class="faq-title">Active/open item</a>
	</h5>
	<div class="faq-info">
		<p>To resolve any payment issues for Parkchester Preservation Management's rental apartments call 718-536-2000 and ask for accounts receivable. You can also stop by our second floor offices at 2000 East Tretmont Avenue.</p>
	</div>
</div>