<footer class="footer_">
    <div class="container">
        <div class="footer-nav">
            <div class="footer-nav-block">
                <h6 class="h6">About</h6>
                <ul>
                    <li>
                        <a href="javascript:void(0)">About Parkchester</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Parkchester History</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Press</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">FAQs</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Careers</a>
                    </li>
                </ul>
            </div>
            <div class="footer-nav-block">
                <h6 class="h6">Apartments</h6>
                <ul>
                    <li>
                        <a href="javascript:void(0)">Search Apartments</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Photo Gallery</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Resident Portal</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Schedule a Tour</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Apply Now</a>
                    </li>
                </ul>
            </div>
            <div class="footer-nav-block">
                <h6 class="h6">The Community</h6>
                <ul>
                    <li>
                        <a href="javascript:void(0)">The Neighborhood</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Our Residents</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Amenities</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">ADA Compliance</a>
                    </li>
                </ul>
            </div>
        </div>

        @@include("social.html")

        <div class="footer-bottom">
            <a href="javascript:void(0)" class="to-top">Back to top</a>
            <p>&copy; 2018 Parkchester Preservation Management LLC ®.All rights reserved.</p>
            <p class="footer-links">
                <a href="javascript:void(0)">Equal Housing Statement</a>
                <a href="javascript:void(0)">Privacy Policy</a>
            </p>
        </div>
    </div>
</footer>