<div class="section gallery-wrapper">
	<div class="container">
		<div class="h5">Our</div>
		<div class="h1">Gallery</div>
		<div class="gallery-holder">
			<!-- <div class="item-size"></div> -->
			<div class="item" style="background-image: url('/dist/images/gallery1.png')">galleryfoto</div>
			<div class="item item-big" style="background-image: url('/dist/images/gallery2.png')">galleryfoto</div>
			<div class="item" style="background-image: url('/dist/images/gallery3.png')">galleryfoto</div>
			<div class="item item-big" style="background-image: url('/dist/images/gallery4.png')">galleryfoto</div>
			<div class="item" style="background-image: url('/dist/images/gallery5.png')">galleryfoto</div>
			<div class="item" style="background-image: url('/dist/images/gallery7.png')">galleryfoto</div>
			<div class="item" style="background-image: url('/dist/images/gallery8.png')">galleryfoto</div>
			<div class="item item-big" style="background-image: url('/dist/images/gallery6.png')">galleryfoto</div>
			<div class="item" style="background-image: url('/dist/images/gallery9.png')">galleryfoto</div>
		</div>
		<a href="javascript:void(0)" class="btn btn-apply">View More</a>
	</div>
</div>