<div class="section">
		<div class="container">
			<div class="backlink-holder">
					<a href="javascript:void(0)" class="back-link">Apartments Index</a>
			</div>
			<div class="divided-section">
				<div class="gallery-apartments">
						<div class="item" style="background-image: url('/dist/images/apartmentsslide.png')">slide gallery</div>
						<div class="item" style="background-image: url('/dist/images/apartmentsslide.png')">slide gallery</div>
						<div class="item" style="background-image: url('/dist/images/apartmentsslide.png')">slide gallery</div>
					</div>
					<div class="content content-section">
						<p>The one bedroom Contemporary Apartment has ample space, lots of sun, traditional styling and best of all - the most up-to-date kitchen finish and modern appliances. Select from one of the two kitchen choices in either Warm Cherry with matching rose-toned granite countertops or Arctic Ribbon with sleet off-white and grey cabinets complemented by slate grey granit countertops. The second kitchen finish features Warm Cherry cabinets with matching rose-toned granite countertops for a classically elegant look.</p>
						<p>One bedroom range in size from 506 to 705 square feed and rent for $1,290 to $1,415.</p>
						<h4>APARTMENT FEATURES</h4>
						<ul>
							<li>Elegant windowed kitchens with two finishes: Cherry cabinets with rose-toned granite countertops and grey with off-white cabinets with slate grey granite countertops</li>
							<li>New appliances with stainless steel accents</li>
							<li>Spacious living area</li>
							<li>Generous Closets</li>
							<li>Big windows with bright light</li>
						</ul>
						<a href="javascript:void(0)" class="btn btn-shedule">Schedule a Tour</a>
						<a href="javascript:void(0)" class="btn btn-apply">Apply Now</a>
					</div>
			</div>
	</div>
</div>