<header class="header">
    <a href="javascript:void(0)" class="menu-button">
        <span>menu button</span>
        <span>menu button</span>
        <span>menu button</span>
    </a>
    <strong class="mainlogo">
        <a href="#">
            <img src="/dist/images/mainlogo.svg" alt="logo">
        </a>
        parkchester
    </strong>
    <div class="header-content">
        <div class="header-contact">
            <a href="tel:9176345232" class="call-link">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" viewBox="0 0 12 12">
                    <g>
                        <g transform="translate(-259 -17)">
                            <image width="12" height="12" transform="translate(259 17)" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABVElEQVQoU33LPUgcUQAE4Jm3/nW+t3udTVLKCSlOUlsr2ngpDkKKCAeGSH4sLDSFqVOYTlErCwMhlV0gkCJlCEEhKeTwmuvubt+mEOHcN7JFBNF1ypn56JybCsAegQkCc2maHuOecNzaX5Ex25LOJb2z1j5qt9sXZaYAnsAD770fd+7QAK00TTdKgXXuh0J4n2XZVxvHqwhhxns/XwriOH6e53k9y7JZ69zpUBQ1ut3uz1JQrVZHOp3OCaJoTSE0JP355/1mKSiGJEke59IRpbqATyJfZ/3+57sQ/5dxHC8FaZ3AKwE7AraGjPl+GcKbiPzW6/X2SeoaFNBauwLyLYEXkpokJ0XuQloAwLHR0cUboEDOuYaAjyKXs37/S9FJYpIkm3kI87dAcahUKtODweCA5F9jzAdjzMllCE1JT+4EBarVasOts7OXCuEZgIckfxvy6RVBlpCzPT33fAAAAABJRU5ErkJggg=="/>
                        </g>
                    </g>
                </svg>
                917-634-5232
            </a>
            <a href="javascript:void(0)" class="portal-link">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="16" viewBox="0 0 15 16">
                    <g>
                        <g transform="translate(-294 -15)">
                            <image width="15" height="16" transform="translate(294 15)" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAACFElEQVQ4T43TX0iTURQA8HO+P9sSt927mCTtrXqshwgqiNrY2jAII9hbBVEkPWgooVngQIh6E5tJPkQvSeCwF19ybrqEHkJ6ECkiiEAYZYxtXzHZt+3eExMWNr8Puo/n3N855x64CBbH7/d31oW4IaVk7WlEPIAAnQriV2xPxuNxdSmTmSApJwzD+Nae9/l8p4QQbsMwlvZgL+f3pKq+/l0ofLGayhYzxoKKonSFw+H5dDY7CEKsNzvsLmKLPYyN/SqXx72c3ydNS2lCXC0Wi2MtzDm/QkRRQtxAorV/xm5hD2OJDpdr2jTNoVKpNBoIBPZVKpXLhOg/2N09nc/nTwMAWmLO+SMCcDsdjpFarXaciHo1TXtVKBQ+7H6CJfYytu7Q9ZgJ4G4f3RZzznsA4Oy5Y/ujqxvFGSI6HIlERlOplLDa/N/ORISISDQXV1d+GMmHs5+nsu83P1mhVmwH55LRQZJKFwCYgHQSAbaJqKS75PiZvsymXYEdvJw8Pwyov1Wp8VNKvOB2eV5WoeStV9WLoTuLT23x6lSsV0qSwYH0wse5uGPre/mZruqPSQomgI6EBtKz/4Wbl97N9ByqVxsJ1NQtEqSQ23wQup6r2i5seTJ6CxDzTr1jrV6rJCSiDor6XBGNa4RYC/a/GWouc88PawVyT6K3JeBRj9Nx90TfwnYzvjIZuwkoLyEq88H+xRft+A/Dnf6nPvLOdwAAAABJRU5ErkJggg=="/>
                        </g>
                    </g>
                </svg>
                Residents portal
            </a>
        </div>
        <nav class="main-menu">
            <a href="javascript:void(0)" class="close-menu">close</a>
            <ul>
                <li class="parent-menu">
                    <a href="javascript:void(0)">About Us</a>
                    <ul class="sub-memu">
                        <li><a href="#">About Parkchester</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">Photo Gallery</a>
                </li>
                <li class="parent-menu">
                    <a href="javascript:void(0)">Apartments</a>
                    <ul class="sub-memu">
                        <li><a href="#">About Parkchester</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </li>
                <li class="parent-menu">
                    <a href="javascript:void(0)">The Neighborhood</a>
                    <ul class="sub-memu">
                        <li><a href="#">About Parkchester</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">Amenities</a>
                </li>
            </ul>
            <a href="javascript:void(0)" class="btn btn-apply">Apply Now</a>
            <a href="javascript:void(0)" class="btn btn-shedule">Schedule a Tour</a>
        </nav>
    </div>
</header>