<div class="intro-home">
    <div class="video-wrap" style="background-image: url('../images/image-min.jpg')">
        <div id="intro-video" class="player"
             data-property="{videoURL:'https://youtu.be/LTvFsTbyILg', mute:true, startAt:0, opacity:1}"></div>
    </div>
    <div class="intro-content">
        <div class="h5">Life in Parkchester</div>
        <div class="h1">Welcome Home</div>
    </div>
    <a href="javascript:void(0)" class="btn scroll-to" accesskey=“s”>Skip to content</a>
    <a href="javascript:void(0)" class="play-pause-button play hidden-btn">Pause</a>
</div>