<div class="section map-home">
  <div class="h5">Map</div>
  <h2 class="h1">The Neighborhood</h2>
  <!--<div id="map-home"-->
       <!--data-longitude="40.6700"-->
       <!--data-latitude="-73.9400"-->
       <!--data-image="/dist/images/mappin.png"-->
       <!--data-title="Parkchester"></div>-->

  <div class="map"
       data-lat="40.759654"
       data-lng="-73.980863"
       data-pin="../img/pin.png"
       data-zoom="14"
       data-markers="{lat: 40.759282, lng: -73.984406}; {lat: 40.762468, lng: -73.987924}"></div>

  <a href="javascript:void(0)" class="btn btn-apply">Search Our Neighborhood</a>
</div>