<div class="section map-home">
    <div class="h5">Map</div>
    <h2 class="h1">The Neighborhood</h2>

    <div id="map-home"
    data-position="[{lat: 40.6700, lng: -73.9400}]"
    data-image="/dist/images/mappin.png"
    data-zoom="15"
    data-content="[{lat: 40.6685, lng: -73.9432, title: 'Parkchester', content: '2000 East Tremont Avenue Bronx NY 10462'}, {lat: 40.67296, lng: -73.93389, title: 'Parkchester2', content: '2010 East Tremont Avenue Bronx NY 55555'}]">
    </div>

    <a href="javascript:void(0)" class="btn btn-apply">Search Our Neighborhood</a>
</div>