<div class="section map-holder">
  <div class="map-menu">
    <div class="map-menu-title">LANDMARKS NEAR PARKCHESTER</div>

    <ul class="tab-nav map-menu-list">
      <li class="tab-nav-item active">
          <a href="#parks" data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks">Parks</a>
      </li>
      <li class="tab-nav-item">
          <a href="#culture" data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks1">Culture</a>
      </li>
      <li class="tab-nav-item">
          <a href="#recreation" data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks2">Recreation</a>
      </li>
      <li class="tab-nav-item">
          <a href="#houses" data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks3">Houses of Worship</a>
      </li>
      <li class="tab-nav-item">
          <a href="#education" data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks4">Education</a>
      </li>
    </ul>
    <div class="tabs-content">
      <ul id="parks" class="tab-content-item active">
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks3">Fitness Centers1</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="41.6700" data-lng="-74.9400" data-title="map-landmarks4">Parks</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="42.6700" data-lng="-75.9400" data-title="map-landmarks3">Fitness Centers2</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="43.6700" data-lng="-74.3000" data-title="map-landmarks4">Parks2</a>
        </li>
      </ul>
    
      <ul id="culture" class="tab-content-item">
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-70.9400" data-title="map-landmarks3">Fitness Centers4</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="41.6700" data-lng="-71.9400" data-title="map-landmarks4">Parks</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="42.6700" data-lng="-72.9400" data-title="map-landmarks3">Fitness Centers4</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="43.6700" data-lng="-73.3000" data-title="map-landmarks4" >Parks2</a>
        </li>
      </ul>
    
      <ul id="recreation" class="tab-content-item">
        <li>
          <a href="javascript:void(0)" data-lat="41.6700" data-lng="-73.9400" data-title="map-landmarks3">Fitness Centers5</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-74.9400" data-title="map-landmarks4">Parks</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-75.9400" data-title="map-landmarks3">Fitness Centers5</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-74.3000" data-title="map-landmarks4" >Parks2</a>
        </li>
      </ul>
    
      <ul id="houses" class="tab-content-item">
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks3">Fitness Centers1</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-74.9400" data-title="map-landmarks4">Parks</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-75.9400" data-title="map-landmarks3">Fitness Centers2</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-74.3000" data-title="map-landmarks4" >Parks2</a>
        </li>
      </ul>
    
      <ul id="education" class="tab-content-item">
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks3">Fitness Centers1</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-74.9400" data-title="map-landmarks4">Parks</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-75.9400" data-title="map-landmarks3">Fitness Centers2</a>
        </li>
        <li>
          <a href="javascript:void(0)" data-lat="40.6700" data-lng="-74.3000" data-title="map-landmarks4" >Parks2</a>
        </li>
        </ul>
    </div>









  </div>
  <div id="map" data-lat="40.6700" data-lng="-73.9400" data-image="/dist/images/mappin.png" data-bigimage="/dist/images/bigmappin.png" data-title="Parkchester"></div>
</div>