<div class="section map-holder">
  <div class="map-menu">
    <div class="map-menu-title">LANDMARKS NEAR PARKCHESTER</div>
    <ul class="map-menu-list">
      <li class="map-menu-item">
        <span class="active" data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks">Parks</span>
        <ul>
          <li data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks3">Fitness Centers1</li>
          <li data-lat="40.6700" data-lng="-74.9400" data-title="map-landmarks4">Parks</li>
        </ul>
      </li>
      <li class="map-menu-item">
        <span data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks1">Culture</span>
        <ul>
          <li data-lat="40.6700" data-lng="-75.9400" data-title="map-landmarks3">Fitness Centers2</li>
          <li data-lat="40.6700" data-lng="-76.9400" data-title="map-landmarks4">Parks</li>
        </ul>
      </li>
      <li class="map-menu-item">
        <span data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks2">Recreation</span>
        <ul>
          <li data-lat="40.6700" data-lng="-77.9400" data-title="map-landmarks3">Fitness Centers3</li>
          <li data-lat="40.6700" data-lng="-78.9400" data-title="map-landmarks4">Parks</li>
        </ul>
      </li>
      <li class="map-menu-item">
        <span data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks3">Houses of Worship</span>
        <ul>
          <li>Fitness Centers4</li>
          <li>Parks</li>
        </ul>
      </li>
      <li class="map-menu-item">
        <span data-lat="40.6700" data-lng="-73.9400" data-title="map-landmarks4">Education</span>
        <ul>
          <li>Fitness Centers5</li>
          <li>Parks</li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="map" data-lat="40.6700" data-lng="-73.9400" data-image="/dist/images/mappin.png" data-title="Parkchester"></div>
</div>