<div class="section events-wrapper">
    <div class="container">
      <div class="h5">Some of our</div>
      <h2 class="h1">neighborhood events</h2>
      
      <div class="events-holder">
        <div class="item">
          <div class="img" style="background-image: url('/dist/images/events1.png')">Christmas</div>
          <div class="title">Christmas Tree Lighting</div>
          <p>'Tis the Season!  Come and enjoy the annual Christmas Tree Lighting with Dickensian Carolers, hot beverages, cookies and more from 6:30-7pm! All activities take place on the Metropolitan Oval.</p>
          <div class="date">December 11, 2017 - December 12, 2017</div>
        </div>
        <div class="item">
          <div class="img" style="background-image: url('/dist/images/events2.png')">Christmas</div>
          <div class="title">Christmas Tree Lighting</div>
          <p>'Tis the Season!  Come and enjoy the annual Christmas Tree Lighting with Dickensian Carolers, hot beverages, cookies and more from 6:30-7pm! All activities take place on the Metropolitan Oval.</p>
          <div class="date">December 11, 2017 - December 12, 2017</div>
        </div>
        <div class="item">
          <div class="img" style="background-image: url('/dist/images/events3.png')">Christmas</div>
          <div class="title">Christmas Tree Lighting</div>
          <p>'Tis the Season!  Come and enjoy the annual Christmas Tree Lighting with Dickensian Carolers, hot beverages, cookies and more from 6:30-7pm! All activities take place on the Metropolitan Oval.</p>
          <div class="date">December 11, 2017 - December 12, 2017</div>
        </div>
        <div class="item">
          <div class="img" style="background-image: url('/dist/images/events1.png')">Christmas</div>
          <div class="title">Christmas Tree Lighting</div>
          <p>'Tis the Season!  Come and enjoy the annual Christmas Tree Lighting with Dickensian Carolers, hot beverages, cookies and more from 6:30-7pm! All activities take place on the Metropolitan Oval.</p>
          <div class="date">December 11, 2017 - December 12, 2017</div>
        </div>
        <div class="item">
          <div class="img" style="background-image: url('/dist/images/events2.png')">Christmas</div>
          <div class="title">Christmas Tree Lighting</div>
          <p>'Tis the Season!  Come and enjoy the annual Christmas Tree Lighting with Dickensian Carolers, hot beverages, cookies and more from 6:30-7pm! All activities take place on the Metropolitan Oval.</p>
          <div class="date">December 11, 2017 - December 12, 2017</div>
        </div>
        <div class="item">
          <div class="img" style="background-image: url('/dist/images/events3.png')">Christmas</div>
          <div class="title">Christmas Tree Lighting</div>
          <p>'Tis the Season!  Come and enjoy the annual Christmas Tree Lighting with Dickensian Carolers, hot beverages, cookies and more from 6:30-7pm! All activities take place on the Metropolitan Oval.</p>
          <div class="date">December 11, 2017 - December 12, 2017</div>
        </div>
      </div>
      <a href="javascript:void(0)" class="btn btn-apply">View More</a>
    </div>
  </div>