<div class="wrap-wp-pagenavi">
    <div class="wp-pagenavi">
        <a href="javascript:void(0)" class="previouspostslink" rel="prev">Prev</a>
        <a class="page" href="javascript:void(0)">1</a>
        <span class="extend">...</span>
        <a class="page smaller" title="Page 3" href="javascript:void(0)">3</a>
        <a class="page smaller" title="Page 4" href="javascript:void(0)">4</a>
        <span class="current">5</span>
        <a class="page larger" title="Page 6" href="javascript:void(0)">6</a>
        <a class="page" href="javascript:void(0)">12</a>
        <a href="javascript:void(0)" class="nextpostslink" rel="next">Next</a>
    </div>
</div>