<div class="section apartments-holder">
	<div class="container">
			<div class="h5">Our</div>
			<h2 class="h1">Parkchester Apartments</h2>
			<div class="min-container">
					<p>Parkchester is a completely self contained community within the city. Comfort, convenience and affordability are the hallmarks
						of every no fee apartment. Rentals for one bedroom apartments start as low as $1290 per month; $1600 for two bedroom apartments,
						and $1900 for a three-bedroom</p>
			</div>
		<div class="tab-nav">
			<ul>
				<li class="tab-nav-item active">
					<a href="#one-bedroom">One Bedroom</a>
				</li>
				<li class="tab-nav-item">
					<a href="#two-bedroom">Two Bedroom</a>
				</li>
			</ul>
		</div>
		<div class="tabs-content">
			<div class="tab-content-item active" id="one-bedroom">
				<div class="apartments-item">
					<div class="info-bedroom">
						<h3>One Bedroom</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet
							lacus accumsan et viverra justo commodo.</p>
						<strong>Start at $1,290, minimum income requirement: <span>$48,375</span></strong>
						<a href="javascript:void(0)" class="btn learn-more">Learn More</a>
					</div>
					<div class="visual-bedroom">
						<div class="item" style="background-image:url('/dist/images/floorplan.jpg')">
							<a href="#popup-video-onebedroom" class="popup-link custom-play-btn">Open video-popup
								<img src="../images/play.svg" alt="play">
							</a>
							one bedroom
						</div>
						<div class="item" style="background-image:url('/dist/images/bedroom1.png')"></div>
					</div>
				</div>
				<a href="javascript:void(0)" class="btn btn-apply">See All Apartments</a>
			</div>
			<div class="tab-content-item" id="two-bedroom">
				<div class="apartments-item">
					<div class="info-bedroom">
						<h3>1One Bedroom</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet
							lacus accumsan et viverra justo commodo.</p>
						<strong>Start at $1,290, minimum income requirement: $48,375</strong>
						<a href="javascript:void(0)" class="btn learn-more">Learn More</a>
					</div>
					<div class="visual-bedroom">
							<div class="item" style="background-image:url('/dist/images/floorplan.jpg')">
								<a href="#popup-video-twobedroom" class="popup-link custom-play-btn">Open video-popup
									<img src="../images/play.svg" alt="play">
								</a>
								one bedroom
							</div>
							<div class="item" style="background-image:url('/dist/images/bedroom1.png')"></div>
					</div>
				</div>
				<a href="javascript:void(0)" class="btn btn-apply">See All Apartments</a>
			</div>
		</div>
	</div>
</div>