<div class="parkchester-timeline">
  <h2>Parkchester Timeline</h2>
  <div class="timeline-dates">
      <div class="chapter active">
        <div class="part active" data-history="0"><span>1937</span></div>
        <div class="part" data-history="1"><span>1938</span></div>
        <div class="part" data-history="2"><span>1939</span></div>
      </div>
      <div class="chapter">
        <div class="part" data-history="3"><span>1940</span></div>
        <div class="part" data-history="4"><span>1941</span></div>
        <div class="part" data-history="5"><span>1942</span></div>
      </div>
      <div class="chapter">
        <div class="part" data-history="6"><span>1943</span></div>
        <div class="part" data-history="7"><span>1944</span></div>
        <div class="part" data-history="8"><span>1945</span></div>
      </div>
      <div class="chapter">
        <div class="part" data-history="9"><span>1946</span></div>
        <div class="part" data-history="10"><span>1947</span></div>
      </div>
  </div>
  <div class="timeline-slider">
    <div class="item">
      <div class="img" style="background-image: url('/dist/images/history1.png')">Open Occupancy Pledge</div>
      <div class="info">
        <h3>Open Occupancy Pledge</h3>
        <p>Metropolitan Life Insurance Company signed an "Open Occupancy Pledge" with the Commission on Human Rights in July, agreeing to modify its renting policies which historically had barred non-whites from residing at Parkchester.</p>
        <p>In September of the same year, Metropolitan Life sold the complex in its entirety, to a syndicate headed by Harry B. Helmsley, who promised to honor the "open occupancy pledge," enabling Parkchester to evolve into the wonderfully diverse and integrated community that it is today</p>
      </div>
    </div>
    <div class="item">
      <div class="img" style="background-image: url('/dist/images/history1.png')">Open Occupancy Pledge</div>
      <div class="info">
        <h3>Open Occupancy Pledge</h3>
        <p>Metropolitan Life Insurance Company signed an "Open Occupancy Pledge" with the Commission on Human Rights in July, agreeing to modify its renting policies which historically had barred non-whites from residing at Parkchester.</p>
        <p>In September of the same year, Metropolitan Life sold the complex in its entirety, to a syndicate headed by Harry B. Helmsley, who promised to honor the "open occupancy pledge," enabling Parkchester to evolve into the wonderfully diverse and integrated community that it is today</p>
      </div>
    </div>
    <div class="item">
      <div class="img" style="background-image: url('/dist/images/history1.png')">Open Occupancy Pledge</div>
      <div class="info">
        <h3>Open Occupancy Pledge</h3>
        <p>Metropolitan Life Insurance Company signed an "Open Occupancy Pledge" with the Commission on Human Rights in July, agreeing to modify its renting policies which historically had barred non-whites from residing at Parkchester.</p>
        <p>In September of the same year, Metropolitan Life sold the complex in its entirety, to a syndicate headed by Harry B. Helmsley, who promised to honor the "open occupancy pledge," enabling Parkchester to evolve into the wonderfully diverse and integrated community that it is today</p>
      </div>
    </div>
    <div class="item">
      <div class="img" style="background-image: url('/dist/images/history1.png')">Open Occupancy Pledge</div>
      <div class="info">
        <h3>Open Occupancy Pledge</h3>
        <p>Metropolitan Life Insurance Company signed an "Open Occupancy Pledge" with the Commission on Human Rights in July, agreeing to modify its renting policies which historically had barred non-whites from residing at Parkchester.</p>
        <p>In September of the same year, Metropolitan Life sold the complex in its entirety, to a syndicate headed by Harry B. Helmsley, who promised to honor the "open occupancy pledge," enabling Parkchester to evolve into the wonderfully diverse and integrated community that it is today</p>
      </div>
    </div>
    <div class="item">
      <div class="img" style="background-image: url('/dist/images/history1.png')">Open Occupancy Pledge</div>
      <div class="info">
        <h3>Open Occupancy Pledge</h3>
        <p>Metropolitan Life Insurance Company signed an "Open Occupancy Pledge" with the Commission on Human Rights in July, agreeing to modify its renting policies which historically had barred non-whites from residing at Parkchester.</p>
        <p>In September of the same year, Metropolitan Life sold the complex in its entirety, to a syndicate headed by Harry B. Helmsley, who promised to honor the "open occupancy pledge," enabling Parkchester to evolve into the wonderfully diverse and integrated community that it is today</p>
      </div>
    </div>
        <div class="item">
        <div class="img" style="background-image: url('/dist/images/history1.png')">Open Occupancy Pledge</div>
        <div class="info">
          <h3>Open Occupancy Pledge</h3>
          <p>Metropolitan Life Insurance Company signed an "Open Occupancy Pledge" with the Commission on Human Rights in July, agreeing to modify its renting policies which historically had barred non-whites from residing at Parkchester.</p>
          <p>In September of the same year, Metropolitan Life sold the complex in its entirety, to a syndicate headed by Harry B. Helmsley, who promised to honor the "open occupancy pledge," enabling Parkchester to evolve into the wonderfully diverse and integrated community that it is today</p>
        </div>
    </div>
    <div class="item">
      <div class="img" style="background-image: url('/dist/images/history1.png')">Open Occupancy Pledge</div>
      <div class="info">
        <h3>Open Occupancy Pledge</h3>
        <p>Metropolitan Life Insurance Company signed an "Open Occupancy Pledge" with the Commission on Human Rights in July, agreeing to modify its renting policies which historically had barred non-whites from residing at Parkchester.</p>
        <p>In September of the same year, Metropolitan Life sold the complex in its entirety, to a syndicate headed by Harry B. Helmsley, who promised to honor the "open occupancy pledge," enabling Parkchester to evolve into the wonderfully diverse and integrated community that it is today</p>
      </div>
    </div>
    <div class="item">
        <div class="img" style="background-image: url('/dist/images/history1.png')">Open Occupancy Pledge</div>
        <div class="info">
          <h3>Open Occupancy Pledge</h3>
          <p>Metropolitan Life Insurance Company signed an "Open Occupancy Pledge" with the Commission on Human Rights in July, agreeing to modify its renting policies which historically had barred non-whites from residing at Parkchester.</p>
          <p>In September of the same year, Metropolitan Life sold the complex in its entirety, to a syndicate headed by Harry B. Helmsley, who promised to honor the "open occupancy pledge," enabling Parkchester to evolve into the wonderfully diverse and integrated community that it is today</p>
        </div>
      </div>
      <div class="item">
        <div class="img" style="background-image: url('/dist/images/history1.png')">Open Occupancy Pledge</div>
        <div class="info">
          <h3>Open Occupancy Pledge</h3>
          <p>Metropolitan Life Insurance Company signed an "Open Occupancy Pledge" with the Commission on Human Rights in July, agreeing to modify its renting policies which historically had barred non-whites from residing at Parkchester.</p>
          <p>In September of the same year, Metropolitan Life sold the complex in its entirety, to a syndicate headed by Harry B. Helmsley, who promised to honor the "open occupancy pledge," enabling Parkchester to evolve into the wonderfully diverse and integrated community that it is today</p>
        </div>
      </div>
        <div class="item">
          <div class="img" style="background-image: url('/dist/images/history1.png')">Open Occupancy Pledge</div>
          <div class="info">
            <h3>Open Occupancy Pledge</h3>
            <p>Metropolitan Life Insurance Company signed an "Open Occupancy Pledge" with the Commission on Human Rights in July, agreeing to modify its renting policies which historically had barred non-whites from residing at Parkchester.</p>
            <p>In September of the same year, Metropolitan Life sold the complex in its entirety, to a syndicate headed by Harry B. Helmsley, who promised to honor the "open occupancy pledge," enabling Parkchester to evolve into the wonderfully diverse and integrated community that it is today</p>
          </div>
        </div>
        <div class="item">
          <div class="img" style="background-image: url('/dist/images/history1.png')">Open Occupancy Pledge</div>
          <div class="info">
            <h3>Open Occupancy Pledge</h3>
            <p>Metropolitan Life Insurance Company signed an "Open Occupancy Pledge" with the Commission on Human Rights in July, agreeing to modify its renting policies which historically had barred non-whites from residing at Parkchester.</p>
            <p>In September of the same year, Metropolitan Life sold the complex in its entirety, to a syndicate headed by Harry B. Helmsley, who promised to honor the "open occupancy pledge," enabling Parkchester to evolve into the wonderfully diverse and integrated community that it is today</p>
          </div>
        </div>
  </div>
</div>