<div class="apartments-holder">
	<div class="h5">Our</div>
	<div class="h1">Parkchester Apartments</div>
	<p>Parkchester is a completely self contained community within the city. Comfort, convenience and affordability are the hallmarks of every no fee apartment. Rentals for one bedroom apartments start as low as $1290 per month; $1600 for two bedroom apartments, and $1900 for a three-bedroom</p>
	<div class="tab-nav">
		<ul>
			<li class="tab-nav-item active"><a href="#one-bedroom">One Bedroom</a></li>
			<li class="tab-nav-item"><a href="#two-bedroom">Two Bedroom</a></li>
		</ul>
	</div>
	<div class="tabs-content">
		<div class="tab-content-item active" id="one-bedroom">
			<div class="info-bedroom">
				<h3>One Bedroom</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
				<strong>Start at $1,290, minimum income requirement: $48,375</strong>
				<a href="javascript:void(0)" class="btn learn-more"></a>
			</div>
			<div class="visual-bedroom">
				<div class="item" style="background-image:url('/dist/images/video.jpg')">one bedroom</div>
				<div class="item">one bedroom</div>
			</div>
		</div>
		<div class="tab-content-item active" id="two-bedroom">

		</div>
	</div>
</div>