<div class="section">
  <div class="container">
    <div class="photo-gallery">
      <div class="item">
        <div class="item-img" style="background-image: url('/dist/images/photogal1.png')">
          <p class="item-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
          </p>
        </div>
      </div>
      <div class="item big">
        <div class="item-img" style="background-image: url('/dist/images/photogal2.png')">
          <p class="item-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="item-img" style="background-image: url('/dist/images/photogal3.png')">
          <p class="item-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="item-img" style="background-image: url('/dist/images/photogal4.png')">
          <p class="item-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="item-img" style="background-image: url('/dist/images/photogal5.png')">
          <p class="item-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
          </p>
        </div>
      </div>
      <div class="item">
          <div class="item-img" style="background-image: url('/dist/images/photogal1.png')">
            <p class="item-title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
            </p>
          </div>
        </div>
        <div class="item big">
          <div class="item-img" style="background-image: url('/dist/images/photogal2.png')">
            <p class="item-title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="item-img" style="background-image: url('/dist/images/photogal3.png')">
            <p class="item-title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="item-img" style="background-image: url('/dist/images/photogal4.png')">
            <p class="item-title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="item-img" style="background-image: url('/dist/images/photogal5.png')">
            <p class="item-title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
            </p>
          </div>
        </div>
        <div class="item">
            <div class="item-img" style="background-image: url('/dist/images/photogal5.png')">
              <p class="item-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
              </p>
            </div>
          </div>
          <div class="item">
              <div class="item-img" style="background-image: url('/dist/images/photogal1.png')">
                <p class="item-title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                </p>
              </div>
            </div>
            <div class="item big">
              <div class="item-img" style="background-image: url('/dist/images/photogal2.png')">
                <p class="item-title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                </p>
              </div>
            </div>
            <div class="item">
              <div class="item-img" style="background-image: url('/dist/images/photogal3.png')">
                <p class="item-title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                </p>
              </div>
            </div>
            <div class="item">
              <div class="item-img" style="background-image: url('/dist/images/photogal4.png')">
                <p class="item-title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                </p>
              </div>
            </div>
            <div class="item">
              <div class="item-img" style="background-image: url('/dist/images/photogal5.png')">
                <p class="item-title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                </p>
              </div>
            </div>
            <div class="item">
                <div class="item-img" style="background-image: url('/dist/images/photogal1.png')">
                  <p class="item-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                  </p>
                </div>
              </div>
              <div class="item big">
                <div class="item-img" style="background-image: url('/dist/images/photogal2.png')">
                  <p class="item-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="item-img" style="background-image: url('/dist/images/photogal3.png')">
                  <p class="item-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="item-img" style="background-image: url('/dist/images/photogal4.png')">
                  <p class="item-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="item-img" style="background-image: url('/dist/images/photogal5.png')">
                  <p class="item-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                  </p>
                </div>
              </div>
              <div class="item">
                  <div class="item-img" style="background-image: url('/dist/images/photogal4.png')">
                    <p class="item-title">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                    </p>
                  </div>
                </div>
                <div class="item">
                  <div class="item-img" style="background-image: url('/dist/images/photogal5.png')">
                    <p class="item-title">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                    </p>
                  </div>
                </div>
                <div class="item">
                    <div class="item-img" style="background-image: url('/dist/images/photogal4.png')">
                      <p class="item-title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                      </p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item-img" style="background-image: url('/dist/images/photogal5.png')">
                      <p class="item-title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit - 1.
                      </p>
                    </div>
                  </div>
    </div>
    <div class="custom-controls"></div>
  </div>
</div>