<div class="section">
  <div class="container">
    <div class="photo-gallery">
      <div class="item" style="background-image: url('/dist/images/photogal1.png')">photogal1</div>
      <div class="item big" style="background-image: url('/dist/images/photogal2.png')">photogal2</div>
      <div class="item" style="background-image: url('/dist/images/photogal3.png')">photogal3</div>
      <div class="item" style="background-image: url('/dist/images/photogal4.png')">photogal4</div>
      <div class="item" style="background-image: url('/dist/images/photogal5.png')">photogal5</div>
      <div class="item big" style="background-image: url('/dist/images/photogal6.png')">photogal6</div>
      <div class="item big" style="background-image: url('/dist/images/photogal7.png')">photogal7</div>
      <div class="item" style="background-image: url('/dist/images/photogal8.png')">photogal8</div>
      <div class="item" style="background-image: url('/dist/images/photogal9.png')">photogal9</div>
      <div class="item" style="background-image: url('/dist/images/photogal1.png')">photogal1</div>
      <div class="item big" style="background-image: url('/dist/images/photogal2.png')">photogal2</div>
      <div class="item" style="background-image: url('/dist/images/photogal3.png')">photogal3</div>
      <div class="item" style="background-image: url('/dist/images/photogal4.png')">photogal4</div>
      <div class="item" style="background-image: url('/dist/images/photogal5.png')">photogal5</div>
      <div class="item big" style="background-image: url('/dist/images/photogal6.png')">photogal6</div>
      <div class="item big" style="background-image: url('/dist/images/photogal7.png')">photogal7</div>
      <div class="item" style="background-image: url('/dist/images/photogal8.png')">photogal8</div>
      <div class="item" style="background-image: url('/dist/images/photogal9.png')">photogal9</div>
      <div class="item" style="background-image: url('/dist/images/photogal1.png')">photogal1</div>
      <div class="item" style="background-image: url('/dist/images/photogal2.png')">photogal2</div>
      <div class="item" style="background-image: url('/dist/images/photogal3.png')">photogal3</div>
      <div class="item" style="background-image: url('/dist/images/photogal4.png')">photogal4</div>
      <div class="item" style="background-image: url('/dist/images/photogal5.png')">photogal5</div>
      <div class="item" style="background-image: url('/dist/images/photogal6.png')">photogal6</div>
      <div class="item" style="background-image: url('/dist/images/photogal7.png')">photogal7</div>
      <div class="item" style="background-image: url('/dist/images/photogal8.png')">photogal8</div>
      <div class="item" style="background-image: url('/dist/images/photogal9.png')">photogal9</div>
    </div>
    <div class="custom-controls"></div>
  </div>
</div>