<div class="container">
  <h5 class="h5">Life at</h5>
  <h2 class="h1">Parkchester</h2>
    <div class="photogallery-slider">
      <div class="small-slider">
          <div class="small-item" style="background-image:url('/dist/images/family.png')"></div>
          <div class="small-item" style="background-image:url('/dist/images/family.png')"></div>
          <div class="small-item" style="background-image:url('/dist/images/family.png')"></div>
          <div class="small-item" style="background-image:url('/dist/images/family.png')"></div>
          <div class="small-item" style="background-image:url('/dist/images/family.png')"></div>
          <div class="small-item" style="background-image:url('/dist/images/family.png')"></div>
      </div>
      <div class="large-slider">
        <div class="large-item" style="background-image:url('/dist/images/family.png')"></div>
        <div class="large-item" style="background-image:url('/dist/images/family.png')"></div>
        <div class="large-item" style="background-image:url('/dist/images/family.png')"></div>
        <div class="large-item" style="background-image:url('/dist/images/family.png')"></div>
        <div class="large-item" style="background-image:url('/dist/images/family.png')"></div>
        <div class="large-item" style="background-image:url('/dist/images/family.png')"></div>
      </div>
    </div>
</div>
