<div class="property-amenities">
  <div class="container">
    <div class="divided-section">
      <div class="large-sync">
        <div class="large-item">
            <div class="item" style="background-image: url('/dist/images/bigsync.png')"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="large-item">
          <div class="item video">
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/hjlH78naTuU?enablejsapi=1&amp;rel=0&amp;showinfo=0"
                    frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen=""></iframe>
            <div class="video-poster"
                 style="background-image: url('../images/video-poster.jpg');">
              <a href="javascript:void(0)" class="custom-play-btn" data-first-row="Play"
                 data-second-row="Video">Play video
                <img src="../images/play.svg" alt="play">
              </a>
            </div>
          </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="large-item">
            <div class="item" style="background-image: url('/dist/images/bigsync.png')"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="large-item">
            <div class="item" style="background-image: url('/dist/images/bigsync.png')"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="large-item">
            <div class="item" style="background-image: url('/dist/images/bigsync.png')"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="large-item">
            <div class="item" style="background-image: url('/dist/images/bigsync.png')"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="content-section">
          <div class="h5">Property</div>
          <h2 class="h1">Amenities</h2>
          <ul class="amenities-list">
              <li>
                <a href="javascript:void(0)">
                  <img src="../images/post office.svg" alt="amenities-icon">
                  <span>FiOs & internet</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <img src="../images/internet.svg" alt="amenities-icon">
                  <span>FIOs & High speed Internet</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <img src="../images/shop.svg" alt="amenities-icon">
                  <span>More than 100 shops</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <img src="../images/train.svg" alt="amenities-icon">
                  <span>6 train accessible</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <img src="../images/security.svg" alt="amenities-icon">
                  <span>24 hour security</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <img src="../images/parking.svg" alt="amenities-icon">
                  <span>On-street parking</span>
                </a>
              </li>
            </ul>
          <div class="small-sync">
            <div class="item" style="background-image: url('/dist/images/bigsync.png')"></div>

            <div class="item video">
              <div class="video-poster"
                   style="background-image: url('../images/video-poster.jpg');">
                  <img src="../images/play.svg" alt="play">
              </div>
            </div>

            <div class="item" style="background-image: url('/dist/images/bigsync.png')"></div>
            <div class="item" style="background-image: url('/dist/images/bigsync.png')"></div>
            <div class="item" style="background-image: url('/dist/images/bigsync.png')"></div>
            <div class="item" style="background-image: url('/dist/images/bigsync.png')"></div>
          </div>
      </div>
    </div>
  </div>
</div>
