<div class="residents-wrapper">
	<div class="h5">Meet Our</div>
	<div class="h1">Residents</div>
	<div class="residents-holder">
		<div class="item">
			<div class="img" style="background-image: url('/dist/images/resident.png')"></div>
			<div class="description">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<div class="h5">John Doe</div>
				<strong>Resident Since 2016</strong>
				<a href="javascript:void(0)" class="btn">Meet Our Residents</a>
			</div>
		</div>
		<div class="item">
			<div class="img" style="background-image: url('/dist/images/resident.png')"></div>
			<div class="description">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<div class="h5">John Doe</div>
				<strong>Resident Since 2016</strong>
				<a href="javascript:void(0)" class="btn">Meet Our Residents</a>
			</div>
		</div>
		<div class="item">
			<div class="img" style="background-image: url('/dist/images/resident.png')"></div>
			<div class="description">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<div class="h5">John Doe</div>
				<strong>Resident Since 2016</strong>
				<a href="javascript:void(0)" class="btn">Meet Our Residents</a>
			</div>
		</div>
	</div>
</div>